absl-py==0.7.1
astor==0.8.0
astroid==2.2.5
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
future==0.17.1
gast==0.2.2
grpcio==1.20.1
gym==0.12.1
gym-super-mario-bros==7.2.1
h5py==2.9.0
idna==2.8
isort==4.3.20
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
Markdown==3.1.1
matplotlib==3.1.0
mccabe==0.6.1
mock==3.0.5
nes-py==8.0.2
numpy==1.16.3
opencv-contrib-python==4.1.0.25
opencv-python==4.1.0.25
protobuf==3.7.1
pygame==1.9.6
pyglet==1.3.2
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
requests==2.22.0
scipy==1.3.0
six==1.12.0
soupsieve==1.9.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.32.1
typed-ast==1.4.0
urllib3==1.25.2
Werkzeug==0.15.4
wincertstore==0.2
wrapt==1.11.2
